@import 'DropzoneItem.scss';
@import 'Modal.scss';

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .dropzone {
        .dropzone-btn {
            width: 306px;
            height: 78px;
            cursor: pointer;
            color: white;
            background-color: #87D534;
            .dropzone-field {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}